#wrapper{
    width: 70%;
    background-color: gold;
    margin: 0 auto;
}

#content{
    margin: 0 auto;
    display: block;
    width = 70%;
}

h1, p{
    text-align: center;
}

.link{
    display: inline-block;
    width: 35%;
    margin: 5%;
    text-align: center;
}

a{
    text-align: center;
}